# -------------------------
# Node
# -------------------------

node_modules/
npm-debug.log*

# -------------------------
# Environment
# -------------------------

.env
.env.*
!.env.example
!.env.*.example

# -------------------------
# Logs
# -------------------------

logs/
*.log

# -------------------------
# Coverage
# -------------------------

coverage/

# -------------------------
# Build
# -------------------------

dist/
build/

# -------------------------
# Mac
# -------------------------

.DS_Store

# -------------------------
# IDE
# -------------------------

.vscode/
.idea/

# -------------------------
# Docker
# -------------------------

docker-data/

# -------------------------
# Testing
# -------------------------

.nyc_output/

# -------------------------
# Temporary
# -------------------------

tmp/
temp/

# -------------------------
# PM2
# -------------------------

.pm2/

# -------------------------
# MinIO
# -------------------------

minio-data/

# -------------------------
# Redis
# -------------------------

redis-data/

# -------------------------
# Uploads
# -------------------------

uploads/
